mixin sliderElement(src, title, ref)
	li
		img(src="#{src}", alt="#{title}", data-ref="#{ref}")
!!!5
html
	head
		link(href="jquery.diagonal-slider.css", rel="stylesheet")

		script(src="http://code.jquery.com/jquery-latest.min.js")
		script(src="jquery.diagonal-slider.js")		
	body
		#slider
			ul
				+sliderElement("img/up.jpg", "Title one", "load.html")
				+sliderElement("img/iceage.jpg", "Title two", "load.html")
				+sliderElement("img/birds.jpg", "Title three", ".dummy")
				+sliderElement("img/up.jpg", "Title four", "load.html")
				+sliderElement("img/iceage.jpg", "Title five", ".dummy")
		script
			$(document).ready(function(){
				$('#slider').diagonalSlider({width: 1100, height: 365})
			})
		.dummy
			p | content content content